{% extends "layout.html" %}
{% block body %}


<!-- Page Header-->
<!-- <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')"> -->
<!-- <header class="masthead" style="background-image: url('    {{ url_for('static', filename='     assets/img/home-bg.jpg      ') }}         ')"> -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">




    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>ADMIN here</h1>
                    <span class="subheading">manage your post and change them</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
     



        
        <div>
            <button><a href="/dashboard">DASHBOARD HOME</a></button>
            <button><a href="/logout">LogOut</a></button>
                
    
        </div>


        <h1>ADD/EDIT POST</h1>
        
        <form id="contactForm" action="/edit/{{SNo}}" method="post" >
            <div class="form-floating">
                <input class="form-control" name = "title" id="title" type="text" placeholder="Enter your name..." >
                <label for="title">title</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" name = "slug" id="slug" type="text" placeholder="Enter your email..." data-sb-validations="required,email" />
                <label for="slug">slug</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
              
            </div>
            <div class="form-floating">
                <input class="form-control" name ="content" id="content" type="text" placeholder="Enter your phone number..." data-sb-validations="required" />
                <label for="content">content</label>
                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" type ="text" name = "img_file" id="img_file" placeholder="image _file name "  data-sb-validations="required"/>
                <label for="img_file">img_file</label>
                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
            </div>
           
               
                <button type="submit">sending</button>
            
            <!-- Submit Button-->
        </form>




        <!-- Pager-->

    </div>
</div>


{% endblock %}